<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress staticfiles pjax_blocks %}
    <title>Tescik</title>
    <meta http-equiv="Content-Encoding" content="text/html; charset=utf-8">

    {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/foundation.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/app.scss" %}" type="text/x-scss">
    {% endcompress %}

    {% compress js %}
        <script src="{% static "vendor/js/custom.modernizr.js" %}"></script>
        <script src="{% static "vendor/js/jquery.js" %}" ></script>
        <script src="{% static "vendor/js/foundation.min.js" %}"></script>

        <script src="{% static "js/pjax.coffee" %}" type="text/coffeescript"></script>
        <script src="{% static "js/app.coffee" %}" type="text/coffeescript"></script>
    {% endcompress %}
</head>
<body>

    {% block left_menu %}
        {# left menu #}
        <ul class="ajax-tabs side-nav" data-target="content">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "movie_list" %}">Movies</a></li>
        </ul>
    {% endblock %}

    {% region content %}

    {% endregion %}
</body>
</html>
