{% extends "movie_list.html" %}
{% load pjax_blocks %}

{% region movie-detail %}

    <h2>Movie no. {{ object }}</h2>

    <p>Some description bla bla bla bla bla</p>

    {# todo tabs #}
{% endregion %}
