{% extends "base.html" %}
{% load pjax_blocks %}

{% region content %}

    {% region movie-list %}
        <ul class="ajax-list movie-list" data-target="movie-detail">
            {% for object in object_list %}
            <li>
                <a href="{% url "movie_detail" object %}">Movie no. {{ object }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endregion %}

    {% region movie-detail %}

    {% endregion %}

{% endregion %}
